<div id="dashboard-container" class="d-flex">
	<ul
		id="aside"
		ngbNav
		#nav="ngbNav"
		[(activeId)]="active"
		class="nav-pills"
		orientation="vertical"
	>
		<li ngbNavItem="employees">
			<a ngbNavLink>Employees</a>
			<ng-template ngbNavContent>
				<h5 class="text-center">Employees</h5>
			</ng-template>
		</li>
		<li ngbNavItem="products">
			<a ngbNavLink>Products</a>
			<ng-template ngbNavContent>
				<h5 class="text-center">Products</h5>
			</ng-template>
		</li>
		<li ngbNavItem="suppliers">
			<a ngbNavLink>suppliers</a>
			<ng-template ngbNavContent>
				<app-suppliers-index></app-suppliers-index>
			</ng-template>
		</li>
		<li ngbNavItem="brands">
			<a ngbNavLink>Brands</a>
			<ng-template ngbNavContent>
				<h5 class="text-center">brands</h5>
			</ng-template>
		</li>
	</ul>

	<div id="outlet" [ngbNavOutlet]="nav" class="ml-4"></div>
</div>
