<div class="card-body">
	<form>
		<div class="form-row">
			<div class="col-md-6">
				<label class="form-label" for="">Firstname</label
				><input
					type="text"
					placeholder="firstname"
					class="form-control"
				/>
			</div>
			<div class="col-md-6">
				<label class="form-label" for="">Lastname</label
				><input
					type="text"
					placeholder="lastname"
					class="form-control"
				/>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6">
				<label class="form-label" for="">Birthday</label>
				<input type="date" class="form-control" />
			</div>
			<div class="col-md-6">
				<label class="form-label" for="">Select Gender</label>
				<div class="row">
					<div class="col-md-4">
						<div class="form-check form-check-inline">
							<input
								class="form-check-input"
								type="radio"
								value="M"
							/>
							<label class="form-check-label" for="inlineRadio1"
								>Male</label
							>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-check form-check-inline">
							<input
								class="form-check-input"
								type="radio"
								value="f"
							/>
							<label class="form-check-label" for="inlineRadio1"
								>Female</label
							>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-12">
				<label for="" class="form-label">Phone number</label
				><input
					type="tel"
					placeholder="000-000-0000"
					class="form-control"
				/>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-12">
				<label for="" class="form-label">Email Address</label
				><input
					type="email"
					placeholder="example@mail.com"
					class="form-control"
				/>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-12">
				<label for="" class="form-label">Password</label
				><input
					type="password"
					placeholder="password"
					class="form-control"
				/>
			</div>
		</div>
	</form>
</div>
