/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$small-font-size: 500;

$primary-color: #665b99;
$primary-lighten: #8278af;

$background-secondary-color: #e5e5e5;
$background-primary-color: #fff;

/* ----- font colors ----- */
$font-primary-color: #737272;
$font-secondary-color: #fff;

/* button's */
$btn-success-color: #56e449;
$btn-danger-color: #dd6b6b;

%primary-font {
	color: $font-primary-color;
	font-weight: $small-font-size;
}
